{% extends 'base.html' %}

{% block content %}

<div class="container">
    <hr/>
    <h3 class="text-center">Graphs</h3>
    <h6 class="text-right">Total:{{ graph_dicts|length }}</h6>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Graph ID</th>
                <th scope="col">Name</th>
                <th scope="col">Algorithm</th>
                <th scope="col">Approach</th>
                <th scope="col">Inputs</th>
                <th scope="col">Outputs</th>
                <th scope="col">Rules</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
            </tr>
            </thead>
            <tbody>
            {% for graph in graph_dicts %}
                <tr>
                    <td>{{ graph.id|title }}</td>
                    <td>{{ graph.name|title }}</td>
                    <td>{{ graph.algorithm|title }}</td>
                    <td>{{ graph.approach}}</td>
                    <td>{{ graph.inputs}}</td>
                    <td>{{ graph.outputs}}</td>
                    <td>{{ graph.rules}}</td>
                    <td>{{ graph.status}}</td>
                    <td>{{ graph.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
    
{% endblock content %}
